__pycache__
pythonenv*
venv
.venv
.coverage
.idea
.HA_VERSION
automations.yaml
home-assistant_v2.*
home-assistant.log*
scenes.yaml
scripts.yaml
secrets.yaml
.storage
blueprints
docs/_build
coverage.xml
.ruff_cache
.ha_run.lock
configuration.yaml
.lycheecache
link-check-report.md
node_modules
