repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
        files: ^((homeassistant|pylint|script|tests)/.+)?[^/]+\.py$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
  - repo: https://github.com/lycheeverse/lychee.git
    rev: lychee-v0.21.0
    hooks:
      - id: lychee
        name: run lychee
        description: run lychee, a fast, async, stream-based link checker written in Rust
        args: [--verbose, --no-progress, --exclude-path, ".venv", "**/*.md"]
        files: \.md$
        exclude: ^\.venv/
