pytest-homeassistant-custom-component==0.13.261
moonraker-api==2.0.6
pre-commit==4.3.0
sphinx==8.2.3
colorlog==6.9.0
furo==2025.7.19
ruff==0.12.10
ha-ffmpeg==3.2.2
sphinx-toolbox==4.0.0
bump2version==1.0.1
PyTurboJPEG==1.8.2